doctype 5
html
  head
    title= title
    link(href="/bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="/font-awesome-4.0.3/css/font-awesome.min.css")
    link(rel="stylesheet",href="/hubspot/css/messenger.css")
    link(rel="stylesheet",href="/hubspot/css/messenger-theme-future.css")
  body
    block content
    script(src="/javascripts/jquery-2.0.3.min.js")
    script(src="/bootstrap-3.0.0/dist/js/bootstrap.min.js" rel="stylesheet")
    script(src="/javascripts/knockout-3.0.0beta.js")
    script(src="/javascripts/knockout.mapping-latest.js")
    script(src="/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js")
    script(src="/javascripts/knockout.x-editable.min.js")
    script(src="/javascripts/StringInterpolatingBindingProvider.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/client.js")
    script(src="/hubspot/js/messenger.min.js")
    script(src="/hubspot/js/messenger-theme-future.js")

    block scripts
