doctype 5
html
  head
    title= title
    link(href="/bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/jquery-2.0.3.min.js")
    script(src="/bootstrap-3.0.0/dist/js/bootstrap.min.js" rel="stylesheet")
    script(src="/javascripts/knockout-3.0.0beta.js")
    script(src="/javascripts/knockout.mapping-latest.js")
    script(src="/javascripts/StringInterpolatingBindingProvider.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")

    block scripts
